*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-left: 10px;
    margin-right: 10px;
}
header{
    background-color: #4B4B4D;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background-color: #D2D3D5;
    width: 150px;
    height: 50px;
    margin-left: 15px;
}
.social{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social div{
    background-color:#D2D3D5 ;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}
nav{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    width: 18%;
    height: 30px;
    background-color:#E7E8EA ;
}
.principal{
    margin-top: 40px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.principal article{
    width: 33%;
    height: 200px;
    background-color:#858688 ;
}
main{
    margin-top: 40px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main aside{
    width: 20%;
    height: 500px;
    background-color:#858688 ;
}
main section{
    width: 60%;
    height: 500px;
    background-color: #4B4B4D;
}
footer{
    margin-top: 20px;
    width: 100%;
    height: 60px;
    background-color:#444547 ;
}